.nav-img {
  margin-right: 10px;
}

.color-nav {
  background-color: #4a4a4a;
}

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swap-button-padding-left {
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swap-button-padding-right {
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-margin {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-control:focus {
  border-color: #c5c5c7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(63, 63, 63, 0.6);
}

.red {
  color: red;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

.green {
  color: rgb(0, 155, 0);
}

.zeroPadding {
  margin: 0px;
}

.button {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.playerMargin {
  margin-top: 10px;
}

.playerLabel {
  font-weight: bold;
  font-size: 22px;
}

.formLabel {
  margin-top: 10px;
  font-size: 16px;
}

.formMargin {
  margin-bottom: 20px;
}

.buildStreamBtn {
  margin-top: 30px;
}

.zeroPaddingMarigin {
  margin: 0px;
  padding: 0px;
}

.zeroPadding {
  padding: 0px;
}

.white {
  background-color: white;
}
