.nav-img {
  margin-right: 10px;
}

.large-nav:hover {
  background-color: #5a636d;
  padding-right: 10px;
  padding-left: 10px;
}

.large-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.small-nav:hover {
  font-size: 14px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #5a636d;
}

.small-nav {
  font-size: 14px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.small-nav-copy-text {
  background-color: #8896a3;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.red {
  color: red;
}

.blue {
  background-color: blue;
}

.green {
  color: lime;
}

.zeroPadding {
  margin: 0px;
}

.button {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.playerMargin {
  margin-top: 10px;
}

.playerLabel {
  font-weight: bold;
  font-size: 22px;
}

.formLabel {
  margin-top: 10px;
  font-size: 16px;
}

.formMargin {
  margin-bottom: 20px;
}

.buildStreamBtn {
  margin-top: 30px;
}

.zeroPaddingMarigin {
  margin: 0px;
  padding: 0px;
}

.zeroPadding {
  padding: 0px;
}
