$body-bg: #F7F7F9;
$body-color: #000000;

$input-bg: #c5c5c7;
$input-color: #000000;
$input-focus-bg: #949495;
$input-border-color: #c5c5c7;

$input-focus-border-color: #fff;

$theme-colors: (
  'secondary': #4a4a4a,
);

@import 'node_modules/bootstrap/scss/bootstrap';
