//$body-bg: #f7f7f9;
$body-color: #343435;

$input-bg: #ffffff;
$input-color: #000000;
$input-focus-bg: #fdfdfd;
$input-border-color: #c5c5c7;

$input-focus-border-color: #fff;

$theme-colors: (
  'secondary': #4a4a4a,
);

@import 'node_modules/bootstrap/scss/bootstrap';
